* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #000000;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #fff;
}

.busca {
  display: flex;
  width: 80%;
  flex-direction: column;
  align-items: center;
}
.busca #searchInput {
  flex: 1;
  padding: 10px;
  outline: none;
  font-size: 15px;
  border-radius: 5px;
  border: 0;
}
.busca button {
  padding: 10px;
  font-size: 15px;
  border: 0;
  background-color: #555;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
}
.busca button:hover {
  background-color: #444;
}

.resultado {
  width: 400px;
  height: 80%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  border: 10px ridge #fff;
  margin-top: 20px;
  border-radius: 20px;
  background-color: rgb(0, 0, 0);
}

.titulo {
  width: 100%;
  color: #fff;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

.temp {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.tempTitulo img {
  filter: invert();
}
.info .temp {
  flex: 1;
  text-align: center;
}
.info .vento {
  flex: 1;
  text-align: center;
}

.vento {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.tempTitulo,
.ventoTitulo {
  color: #777;
  font-size: 16px;
  margin-bottom: 5px;
  margin-right: 20px;
}
.ventoTitulo {
  filter: invert();
}
.tempInfo,
.ventoInfo {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
}
.tempInfo sup {
  font-size: 15px;
  font-weight: normal;
}
.ventoInfo span {
  font-size: 15px;
  font-weight: normal;
}
.ventoArea {
  width: 50px;
  height: 50px;
  border: 1px solid #fff;
  border-radius: 50%;
  margin: auto;
  margin-top: 20px;
  margin-left: 20px;
  padding-left: 25px;
  padding-top: 25px;
}
.ventoPonto {
  width: 15px;
  height: 1px;
  background-color: #fff;
  transform-origin: left;
}

.aviso {
  color: #fff;
  padding-top: 20px;
}
.loading {
  filter: invert();
  height: 30px;
  display: none;
}
.error {
  border-radius: 100%;
  height: 50px;
  display: none;
  border: 10px solid #000;
}
footer,
a {
  margin-top: 20px;
  color: #fff;
  font-size: 13px;
}

@media (max-width: 768px) {
  body {
    height: 90vh;
  }
  .resultado {
    width: 95%;
  }
  .busca {
    align-items: center;
    flex-direction: column;
  }

  .busca button {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
